*{margin:0px; padding:0px;} 
        
#navigation{
    position:fixed; 
    top:0px;
    left:0px;
    height:94px;
    width:100%; 
    background:#000;      
    text-align:center;
    font-size:14px;
}
#navigation ul { list-style:none; margin-top:10px; }                
#navigation li { display:inline; margin-right:10px; }
#navigation li a { font-size: 30pt; text-decoration:none; color:#FFF;}
#navigation li a:hover {color:#0F0;}

#outer-container {
    display: table;
    width: 100%;
    height: 100%;
    margin-top:31px;
}

#sidebar {
    display: table-cell;
    width: 30%;
    height: 100%;
    vertical-align: top;
}

#content1 {
    display: table-cell;
    width: 40%;
    vertical-align: top;
    text-align: justify;
}
#content2 {
    display: table-cell;
    width: 30%;
    vertical-align: top;
    text-align: justify;
}
table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
}
table.type04 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.type04 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


img { max-width: 100%; height: 100%; }



